In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/gdrive' )

Mounted at /gdrive

In [ ]:
data = pd.read_csv('/gdrive/My Drive/data/sales_funnel_quiz_test.csv')

In [ ]:
# Dataframe analysis
data.head()

        date  event sales specialist  client_account_id
0  5/17/2021  touch        Joe Biden                  0
1  5/17/2021  touch        Joe Biden                529
2  5/17/2021  touch        Joe Biden                731
3  5/17/2021  touch        Joe Biden               1928
4  5/17/2021  touch        Joe Biden               2311

In [ ]:
data.info

<bound method DataFrame.info of            date  event sales specialist  client_account_id
0     5/17/2021  touch        Joe Biden                  0
1     5/17/2021  touch        Joe Biden                529
2     5/17/2021  touch        Joe Biden                731
3     5/17/2021  touch        Joe Biden               1928
4     5/17/2021  touch        Joe Biden               2311
...         ...    ...              ...                ...
3141   6/4/2022  touch     Kylie Jenner                634
3142   6/4/2022  touch     Kylie Jenner               1900
3143   6/4/2022  touch     Kylie Jenner               1961
3144   6/4/2022  touch     Kylie Jenner               2137
3145   6/4/2022  touch        Joe Biden               2191

[3146 rows x 4 columns]>

In [ ]:
data.rename(columns = {'sales specialist': 'sales_specialist'}, inplace=True)

In [ ]:
data.sales_specialist.unique()

array(['Joe Biden', 'Kylie Jenner', 'Justin Beiber'], dtype=object)

In [ ]:
data.event.unique()

array(['touch', 'deal'], dtype=object)

In [ ]:
# Converting date column from string to datetime
data.date = pd.to_datetime(data.date, infer_datetime_format=True)

In [ ]:
data.dtypes

date                 datetime64[ns]
event                        object
sales_specialist             object
client_account_id             int64
dtype: object

In [ ]:
# Numbers for conversion rate calculation
data.groupby(['sales_specialist', 'event']).count()

                        date  client_account_id
sales_specialist event
Joe Biden        deal     81                 81
                 touch  1187               1187
Justin Beiber    deal     60                 60
                 touch   845                845
Kylie Jenner     deal     67                 67
                 touch   906                906

In [ ]:
print('Conversion rate = (Total number of Sales / Number of Unique Visitor) * 100%')
print(f'Joe Biden: {round(((81 / 1187) * 100), 2)}')
print(f'Justin Beiber: {round(((60 / 845) * 100), 2)}')
print(f'Kylie Jenner: {round(((67 / 906) * 100), 2)}')

Conversion rate = (Total number of Sales / Number of Unique Visitor) * 100%
Joe Biden: 6.82
Justin Beiber: 7.1
Kylie Jenner: 7.4

In [ ]:
# Finding out the average touch-to-deal time
times = data.drop(['sales_specialist'], axis=1)
times = times.loc[data.event == 'touch']

In [ ]:
deals = data.loc[data.event == 'deal']

In [ ]:
deals = deals.merge(times, left_on='client_account_id', right_on='client_account_id', suffixes=('_left', '_right'))

In [ ]:
deals['diff'] = deals['date_left'] - deals['date_right']

In [ ]:
deals.head()

,date_left,event_left,sales_specialist,client_account_id,date_right,event_right,diff
0,2021-06-15,deal,Joe Biden,1871,2021-05-31,touch,15 days
1,2021-07-28,deal,Joe Biden,2199,2021-05-23,touch,66 days
2,2021-08-09,deal,Joe Biden,1026,2021-07-16,touch,24 days
3,2021-08-16,deal,Joe Biden,850,2021-06-21,touch,56 days
4,2021-08-17,deal,Joe Biden,336,2021-06-15,touch,63 days

In [ ]:
deals.groupby(['sales_specialist']).aggregate({'diff': 'mean'})

                                       diff
sales_specialist
Joe Biden        84 days 21:02:13.333333333
Justin Beiber              68 days 14:00:00
Kylie Jenner     79 days 01:47:27.761194030